<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
	<title>Angular test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">nGTest</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="NewEvent.html">Create</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" ng-controller="EventController">
	<div class="row">
		<div class="col-md-12">
			<p>
				<label>Event:</label>
				{{eventdata.id}}

				<label>Name:</label>
				{{eventdata.name}}

				<label>Location:</label>
				{{eventdata.location}}

				<label>Author:</label>
				{{eventdata.author}}

				<label>Date:</label>
				{{eventdata.date | date:'mediumDate'}}

			</p>
			<!-- ng other usefull directives -->
			<div class="row">
				<div class="col-md-4">
					<h4>ngBind</h4>
					<p ng-bind="eventdata.name | uppercase"></p>

					<h4>ngBindTemplate</h4>
					<p ng-bind-template="{{eventdata.name}} {{eventdata.author}}"></p>

					<h4 ng-show="val">ngHide</h4>
					<h4 ng-hide="val">ngShow</h4>

					<h4>ngNonBindable</h4>
					<p ng-non-bindable>{{3+ 3}}</p>
					<hr/>
					<h4>Expressions</h4>
					<p>{{3+3}}</p>
					<p>{{'hello' + ' world'}}</p>
					<p>{{[1,2,3][1]}}</p>
					
					<h4>Currecny</h4>
					<p>{{34 | currency}}</p>
					
					<h4>Date</h4>
					<p>{{eventdata.date | date:'medium'}}</p>

				</div>
			</div>
			<!-- ng other usefull directives -->
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="searchRecords">
							Filter: 
						</label>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group col-md-3 pull-left">
			  						<div class="input-group-addon">
			  							<b class="glyphicon glyphicon-search"></b>
			  						</div>
									<input ng-model="searchRecords.first_name" type="text" placeholder="Enter name" class="form-control" name="searchRecords">
								</div>
								<div class="input-group col-md-3 pull-left">
								&nbsp;
			  						<div class="input-group-addon">
			  							<b class="glyphicon glyphicon-filter"></b>
			  						</div>
									<select ng-model="query" class="form-control">
										<option selected value="">All</option>
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="20">20</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>
								<a ng-click="sortBy('id')" href="#">#</a>
							</th>
							<th>
								<a ng-click="sortBy('first_name')" href="javascript:void(0);">First name</a>
							</th>
							<th>
								<a ng-click="sortBy('last_name')" href="javascript:void(0);">Last name</a>
							</th>
							<th>
								<a ng-click="sortBy('gender')" href="javascript:void(0);">Gender</a>
							</th>
							<th>
								<a ng-click="sortBy('email')" href="javascript:void(0);">Email</a>
							</th>
							<th>
								<a ng-click="sortBy('address')" href="javascript:void(0);">Address</a>
							</th>
							<th>
								<a ng-click="sortBy('durations')" href="javascript:void(0);">duration</a>
							</th>
						</tr>	
					</thead>
					<tbody>
						<tr ng-repeat="person in eventdata.persons | orderBy:propertyName:reverse | filter:searchRecords | limitTo:query">
							<td>{{person.id}}</td>
							<td>{{person.first_name}}</td>
							<td>{{person.last_name}}</td>
							<td>{{person.gender}}</td>
							<td>{{person.email}}</td>
							<td>{{person.address}}</td>
							<td>{{person.duration | time}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller/EventController.js"></script>
<script type="text/javascript" src="js/services/EventData.js"></script>
<script type="text/javascript" src="js/filter.js"></script>
</body>
</html>